.container {
    display: flex;
    flex-direction: column;
    height: 100vh
}

.main {
    flex-grow: 1;

}

.mainNoData {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mainAuth {
    flex-grow: 1;
}