.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Left-Nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.NavBar {
    background:
        linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(86, 34, 149, 1) 35%, rgba(31, 91, 157, 1) 100%) !important
}


.NavBarTitle {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
}

.DrawerIcon {
    color: #fff;
}


.AvatarBlock {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center
}



@media screen and (max-width:425px) {
    .NavBarTitle {
        font-size: 17px;
    }

    .DrawerIcon {
        font-size: 1.3em !important;
    }

    .ID {
        display: none;
    }

}